<div class="relative z-10">
    <div id="add-item-form-modal" class="edit_item-form-modal absolute inset-x-1/4 w-fit mx-auto p-8 text-slate-700 dark:text-slate-200 bg-state-300 dark:bg-slate-700 {% if hidden %}hidden{% endif %}">
        {{ form_start(editItemForm) }}
            {{ form_row(editItemForm.name) }}
            {{ form_row(editItemForm.comment) }}
            {{ form_row(editItemForm.quantity) }}
            {{ form_row(editItemForm.needed) }}
            {% if userCanEditProject %}
                {{ form_row(editItemForm.owned) }}
                {{ form_row(editItemForm.validated) }}
            {% else %}
                {{ form_row(editItemForm.proposed) }}
            {% endif %}
            {{ form_row(editItemForm.category) }}
            {{ form_row(editItemForm._token) }}
            <button type="submit" class="cancel-btn px-4 py-2 font-semibold text-sm rounded-full border border-slate-300 hover:border-amber-600 text-slate-300 active:text-amber-600">
                Enregistrer
            </button>
            <button type="button" class="cancel-btn px-4 py-2 font-semibold text-sm rounded-full border border-slate-300 hover:border-amber-600 text-slate-300 active:text-amber-600" data-form="item" data-form-data="initialItem">
                Annuler
            </button>
        {{ form_end(editItemForm, {'render_rest': false}) }}
    </div>
</div>
