{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    {{ include('_layouts/flash_message.html.twig') }}
    <h2 class="text-center block text-2xl mt-2 sm:text-3xl font-bold text-amber-600 tracking-wide dark:text-amber-600">
        {{ project.name }}
    </h2>
    <span class="pl-[calc(50%+1rem)] text-sm">Créé par {{ project.createdBy.username }}</span>

    {% if project.comment|length > 0 %}
    <p class="mt-4 px-8 indent-8">{{ project.comment|nl2br }}</p>
    {% endif %}

    <div class="relative min-h-32 mt-12 px-4">
        <h3 class="pb-8 text-xl font-semibold text-slate-300">Participants</h3>
        <button id="contributors-form-activator" class="absolute top-4 right-4 px-4 py-2 font-semibold text-sm rounded-full border border-slate-300 hover:border-amber-600 text-slate-300 active:text-amber-600">
            Modifier
        </button>
        {{ include('/project/_layouts/contributors-form.html.twig', { 'contributorsForm': contributorsForm }) }}

        <div class="px-8">
            {% for contributor in project.contributors %}
                <div class="text-slate-400">{{ contributor.username }}</div>
            {% else %}
                <div class="text-slate-400">T'es tout seul pour l'instant, tu veux inviter quelqu'un ?</div>
            {% endfor %}
        </div>
    </div>

    <div class="relative mt-4 px-4">
        <h3 class="pb-8 text-xl font-semibold text-slate-300">Catégories</h3>
        <button id="add-category-form-activator" class="absolute top-4 right-4 px-4 py-2 font-semibold text-sm rounded-full border border-slate-300 hover:border-amber-600 text-slate-300 active:text-amber-600">
            Ajouter une catégorie
        </button>
        {{ include('/project/_layouts/add-category-form.html.twig', { 'addCategoryForm': addCategoryForm }) }}
        {{ include('/item/_layouts/edit-form.html.twig', { 'addItemForm': addItemForm }) }}
        <div class="px-8">
            {% for category in project.categories %}
                <div>
                    <div id="{{ category.name }}">{{ category.name }}</div>
                    <button class="add-item-form-activator ml-4 px-2 py-1 font-semibold text-xs rounded-full border border-slate-300 hover:border-amber-600 text-slate-300 active:text-amber-600" data-category-id="{{ category.id }}">
                        Ajouter un objet
                    </button>
                    <div class="px-8">
                        {% for item in category.items %}
                            <div class="mt-4 p-2 border border-slate-500 rounded-2xl shadow-md shadow-slate-700">
                                <div id="{{ category.name }}-{{ item.name }}" class="text-slate-300">{{ item.name }}</div>

                                {% if item.comment %}
                                <div class="item-comment">Commentaire :
                                    {% set maxLength = 10 %}
                                    {% set comment = item.comment %}
                                    {% if comment|length > maxLength %}
                                        <span class="excerpt" id="excerpt-{{ loop.index }}">
                                            {{ comment|slice(0, maxLength) ~ '...' }}
                                            <div class="toggle-excerpt inline-block" data-target="fullText-{{ loop.index }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>
                                            </div>
                                        </span>
                                        <span class="full-text hidden inline-block" id="fullText-{{ loop.index }}">
                                            {{ comment }}
                                            <div class="toggle-excerpt inline-block" data-target="excerpt-{{ loop.index }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                                </svg>
                                            </div>
                                        </span>
                                    {% else %}
                                        {{ comment }}
                                    {% endif %}
                                </div>
                                {% endif %}

                                {% if item.owned %}
                                    <div>{{ item.createdBy.username }} en a {{ item.quantity }}</div>
                                {% else %}
                                    <div>Quantité : {{ item.quantity }}</div>
                                {% endif %}

                                {% if item.proposed %}
                                <div>Fourni par {{ item.createdBy.username }}</div>
                                {% endif %}

                                <div>Nécessaire : {{ item.needed ? 'Oui' : 'Non' }}</div>

                                {% if item.validated %}
                                <div>Validé</div>
                                {% endif %}
                            </div>
                        {% else %}
                            <div>Cette catégorie est vide, ajoute un objet</div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div>Il n'y a pas encore de catégorie, t'en crées une ?</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('flash-message') }}
    {{ encore_entry_script_tags('project') }}
{% endblock %}
